html {
  height: 100%;
  width: 100%;
}

body {
        background-color: #fafafa;
      }
#uploader {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        margin: 1rem;
        background-color: #fff;
        border-radius: 0.5rem;
      }
#uploader input {
        width: 100%;
        margin-bottom: 1rem;
        padding: 1rem;
        border: 1px solid #ccc;
        border-radius: 0.5rem;
      }
#uploader button {
        padding: 1rem;
        border: 1px solid #ccc;
        border-radius: 0.5rem;
        background-color: #fff;
      }
#result {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        margin: 1rem;
        background-color: #fff;
        border-radius: 0.5rem;
      }
#json {
        width: 100%;
        min-height: 10rem;
        margin-bottom: 1rem;
        padding: 1rem;
        border: 1px solid #ccc;
        border-radius: 0.5rem;
      }

#download-button {
        padding: 1rem;
        border: 1px solid #ccc;
        border-radius: 0.5rem;
        background-color: #fff;
      }
      